@use 'styles/variables' as *;

$border-color: #454545;
$border-radius: 12px;
$color: #dedede;
$hover-color: #ffffff;
$active-bg: #b3b3b3;
$shadow-color: rgba(0, 0, 0, 0.1);
$form-border-size: 2px;

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  .form {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 50px;
    width: clamp(250px, 50vw, 750px);
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: $primary-color;
    position: relative;
    z-index: 2;
    transition: scale 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:before {
      content: '';
      background: transparent $grain-svg 0 0;
      opacity: 0.3;
      inset: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }

    & > * {
      color: $color;
      outline: none;
      border: none;
      padding: 5px 10px;
      font-size: 1.1rem;
      background: transparent;
      z-index: 2;
    }

    &:focus-within {
      & .form__overlay {
        opacity: 1;
        visibility: visible;
      }
      scale: 1.05;
    }

    &.loading {
      .form__input {
        cursor: not-allowed;
      }

      .form__button {
        cursor: not-allowed;
      }

      .form__overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    &__bar {
      &,
      &::before {
        border-radius: $border-radius 0 0 $border-radius;
      }
      &::placeholder {
        color: $color;
      }
    }

    &__button {
      cursor: pointer;
      display: flex;
      gap: 8px;
      transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
      align-items: center;

      &,
      &::before {
        border-radius: 0 $border-radius $border-radius 0;
      }

      &:not(&:disabled):hover {
        color: $hover-color;
      }

      &:active {
        background-color: $active-bg;
        box-shadow: inset 0 2px 4px $shadow-color;
      }
    }
  }
}
